.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 15px;
    transition: 1s;
    font-size: 20px;
    font-weight: 550;
    background: linear-gradient(-45deg, #FFC286, #35858B);
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn:hover {
    padding: 8px 20px;
    background: linear-gradient(-45deg, #35858B, #7CD1B8, #FFC286, #35858B);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

