.NavbarItems{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    width: 95vw;
}


.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
}
.navbar-logo:hover{
    text-decoration: none;
    color: inherit;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    display: inherit;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    text-decoration: none;
    color: inherit;
}


.nav-links:after{
  content: '';
  margin: auto;
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 1s ease;
}

.nav-links:hover:after {
    width: 70%;
    background: #fff;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }

    .nav-menu {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 59px;
        left: -100%;
        opacity: 0;
        transition: all 0.8s ease;
    }

    .nav-menu.active {
        width: 100vw;
        margin-top: 20px;
        background: #54BAB9;
        left: 0;
        opacity: 1;
        transition: all 0.8s ease;
        z-index: 1;
    }

    .nav-links {
        margin-top: 0;
        text-align: center;
        padding: 1.8rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background: #C1DEAE;
    }
    .nav-links:hover:after{
        width: 0px;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.3rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: linear-gradient(-45deg, #FFC286, #35858B);
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: linear-gradient(-45deg, #35858B, #7CD1B8, #FFC286, #35858B);
	    background-size: 400% 400%;
	    animation: gradient 5s ease infinite;
    }
    .btn {
        display: none;
    }
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}

nav {
    position: fixed;
}